_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
.git-ignore/
*.o
*.reject
*.orig
*.rej
*.so
*~
*.swp*
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
./build
/build
Doxyfile.API
cmake_install.cmake
lua/*.lua.c
Makefile


# macOS files
.DS_Store
